.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: start;
  padding-left: 300px;
  margin-bottom: 7rem;
  background: linear-gradient(90deg, #a300ff, #ff00dd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 20px rgba(163, 0, 255, 0.2);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  padding: 0 15rem 0 10rem;
  gap: 100px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 500px;
  height: 550px;
  padding: 1.3rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(163, 0, 255, 0.3);
  margin: 1rem auto;
  border-radius: 2rem;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
.project-card:hover {
  box-shadow: 0 10px 30px rgba(163, 0, 255, 0.2);
}

.project-card__img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

}
.project-card img {
  max-width: 100%;
  max-height: 270px;
  background-size: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}
.project-card__title{
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 6px;

}
.languages {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.language-icon {
  width: 30px;
  height: 30px;
}
.project-card__desc{
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.project-card__ver{
  display: flex;
}
.project-card__btn {
  z-index: 5;
  padding: 10px 20px;
  background: linear-gradient(135deg, #a300ff, #ff00dd);
    color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  align-self: start; 
  border: none;
}

.project-card__btn:hover {
  background: linear-gradient(135deg, #8400cc, #cc00b1);
  box-shadow: 0 5px 15px rgba(163, 0, 255, 0.3);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0);
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(163, 0, 255, 0.3);
  border-radius: 2rem;
  padding: 1.3rem;
  width: 100%;
  max-width: 1000px;
  height: 800px;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}
.modal-title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 6px;
}
.modal-img{
  width: 80%;
  height: auto;
  margin: 10px
  0;
 
}
.modal-img__content{
  border-radius: 8px;
  object-fit: cover;
}	
.languages{
  display: flex;
  width: 80%;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.description{
  display: flex;
  width: 80%;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 19px;
}
.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.closebtn {
  width: 45px;
  padding: 10px;
  cursor: pointer;

}
/* Estilo responsive para pantallas más pequeñas */
@media (max-width: 1440px) {
  .project-card {
    width: 480px; /* Reduce el ancho para pantallas más pequeñas */
    height: 520px; /* Ajusta la altura */
    margin: 1rem auto; /* Mantiene el margen */
  }
  .projects {
    padding: 0 10rem 0 5rem;
  }
}

@media (max-width: 1250px) {
  .project-card {
    width: 420px; /* Reduce el ancho */
    height: auto; /* Ajusta la altura */
    margin: 1rem auto;
  }
  .projects {
    padding: 0 6rem 0 3rem;
  }
  .modal-title{
    font-size: 2.8rem;
  }
  .modal-content{
    margin: 0 50px;
    height: 90%;
  }
}

@media (max-width: 1024px) {
  .project-card {
    width: 420px; /* Reduce el ancho */
    height: auto; /* Ajusta la altura */
    margin: 3rem auto;
  }
  .projects {
    grid-template-columns: 1fr;
    padding: 0 1rem 0 1rem;
  }
  .title{
    padding-left:0 ;
    justify-content: center;
    font-size: 3.8rem;
  }
  .modal-title{
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {

  .modal-img{
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .modal-img__content{
   object-fit: contain;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 360px; /* Reduce el ancho */
    height: auto; /* Ajusta la altura */
    margin: 1rem auto;
  }
  .title{
    font-size: 3.4rem;
  }
  .modal-title{
    font-size: 2.2rem;
  }
}

/* Estilo para pantallas ultra pequeñas (móviles) */
@media (max-width: 480px) {
  .project-card {
    width: 320px; /* Reduce aún más el ancho */
    height:auto; /* Ajusta la altura */
    padding: 1rem;
    border-radius: 1rem; /* Reduce el radio de los bordes */
  }
  .title{
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .modal-title{
    font-size: 2rem;
  }
}